Options FollowSymLinks
RewriteEngine on
RewriteRule ^de.*\.json$ get.php?lang=de [L]
RewriteRule ^fr.*\.json$ get.php?lang=fr [L]
RewriteRule ^ja.*\.json$ get.php?lang=ja [L]
RewriteRule .* en.json
Header set Access-Control-Allow-Origin "*"
